@using Entities;
@using Business;

@inject NavigationManager NavManager

<div>
    <EditForm Model="oCategory">

        <div class="form-group">
            <label>Nombre de la categoria:</label>
            <InputText @bind-Value="oCategory.CategoryName" class="form-control" />
        </div>

        <input type="button" value="Actualizar Categoria" @onclick="UpdateCategory" />
    </EditForm>
</div>

@code {
    [Parameter]
    public string CategoryId { get; set; }

    CategoryEntity oCategory = new CategoryEntity();

    protected override async Task OnInitializedAsync()
    {
        oCategory = B_Category.GetCategoryByID(CategoryId);
    }

    private void UpdateCategory()
    {
        B_Category.UpdateItem(oCategory);
        NavManager.NavigateTo("category/list");
    }

}
